package pages

import (
	"szarvaspongrac/templates/shared"
	view "szarvaspongrac/views/pages"
)

templ Prose(data view.ProseData) {
	@shared.Layout(data.PageData, "py-4") {
		@shared.PageTitle(data.PageTitle)
		<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
			@shared.ProseEditRegion(shared.ProseEditData{
				ContentKey:  data.ContentKey,
				ContentHTML: data.ContentHTML,
				EditingKey:  data.EditingKey,
				EditorHTML:  data.EditorHTML,
				Authed:      data.Authed,
			})
		</div>
	}
}
