.pell-content {
  box-sizing: border-box;
  outline: 0;
  overflow-y: auto;
  padding: 10px 0;
}

.pell-actionbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  position: sticky;
  top: 5rem;
  margin: 0 auto;
  width: fit-content;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}

.pell-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: 0;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pell-button-selected {
  background-color: #f0f0f0;
}

.pell-img-wrapper {
  display: flex;

  img {
    display: block;
  }

  &:has(img[style*="text-align: left;"]) {
    justify-content: flex-start;
  }

  &:has(img[style*="text-align: center;"]) {
    justify-content: center;
  }

  &:has(img[style*="text-align: right;"]) {
    justify-content: flex-end;
  }

  &:has(img[style*="text-align: justify;"]) {
    justify-content: space-between;
  }
}
