[Unit]
Description=PocketBase
After=network.target

[Service]
Type=simple
User=peti
Group=peti
WorkingDirectory=/home/peti/projects/szarvaspongrac/pb
ExecStart=/home/peti/projects/szarvaspongrac/pb/pocketbase_linux_amd64 serve --http=127.0.0.1:8090
Restart=always
RestartSec=5s
StandardOutput=append:/home/peti/pb/std.log
StandardError=append:/home/peti/pb/std.log

[Install]
WantedBy=multi-user.target
