.pell-content {
  box-sizing: border-box;
  outline: 0;
  overflow-y: auto;
  padding: 10px 0;
}

.pell-actionbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  position: sticky;
  top: 5rem;
  left: 0;
}

.pell-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: 0;
  width: 30px;
  vertical-align: bottom;
}

.pell-button-selected {
  background-color: #f0f0f0;
}
