---
import PageLayout from "@layouts/PageLayout.astro";
import ArtCard from "@components/ArtCard.astro";
---

<PageLayout
  title="Galéria - Szarvas Pongrác"
  description="Szarvas Pongrác képgalériája"
  pageTitle="Galéria"
>
  <div
    class="grid place-items-center w-fit mx-auto grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
  >
    <ArtCard
      href="/galeria/olaj"
      coverKey="gallery.oil"
      imageAlt="Olajfestmények"
      title="Olajfestmények"
    />

    <ArtCard
      href="/galeria/akvarell"
      coverKey="gallery.watercolor"
      imageAlt="Akvarellek"
      title="Akvarellek"
    />

    <ArtCard
      href="/galeria/pasztell"
      coverKey="gallery.pastel"
      imageAlt="Pasztellek"
      title="Pasztellek"
    />

    <ArtCard
      href="/galeria/grafika"
      coverKey="gallery.graphics"
      imageAlt="Grafikák"
      title="Grafikák"
    />

    <ArtCard
      href="/galeria/illusztracio"
      coverKey="gallery.illustration"
      imageAlt="Illusztrációk"
      title="Illusztrációk"
    />

    <ArtCard
      href="/galeria/egyeb"
      coverKey="gallery.others"
      imageAlt="Egyéb alkotások"
      title="Egyéb alkotások"
    />
  </div>
</PageLayout>
