---
import PageLayout from "../../layouts/v2/PageLayout.astro";
import ArtCard from "../../components/v2/ArtCard.astro";
---

<PageLayout
  title="Képzőművészet - Szarvas Pongrác"
  description="Szarvas Pongrác képzőművészeti alkotásai"
  pageTitle="Képzőművészet"
>
  <div
    class="grid place-items-center w-fit mx-auto grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8"
  >
        <ArtCard
          href="/v2/kepzomuveszet/olaj"
          imageSrc="/images/a.jpg"
          imageAlt="Olajfestmények"
          title="Olajfestmények"
        />

        <ArtCard
          href="/v2/kepzomuveszet/akvarell"
          imageSrc="/images/b.jpg"
          imageAlt="Akvarellek"
          title="Akvarellek"
        />

        <ArtCard
          href="/v2/kepzomuveszet/pasztell"
          imageSrc="/images/c.jpg"
          imageAlt="Pasztellek"
          title="Pasztellek"
        />

        <ArtCard
          href="/v2/kepzomuveszet/grafika"
          imageSrc="/images/d.jpg"
          imageAlt="Grafikák"
          title="Grafikák"
        />
  </div>
</PageLayout>
