---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout 
  title="Dev Tools" 
  description="Developer utilities"
  pageTitle="Dev Tools"
>
  <div data-auth="true">
    <button id="init-sorting-btn" class="btn btn-warning">
      Initialize Image Sorting
    </button>
    <div id="result" class="mt-4 hidden"></div>
  </div>

  <div data-auth="false">
    <p>Authentication required.</p>
  </div>
</PageLayout>

<script>
  import "@scripts/dev-tools";
</script>