---
import ContactLink from "@components/ContactLink.astro";
import ContactLayout from "../layouts/ContactLayout.astro";
import { Mail, Phone } from "@lucide/astro";
---

<ContactLayout
  title="Kapcsolat - Szarvas Pongrác"
  description="Vegye fel a kapcsolatot Szarvas Pongrác grafikus, festő, illusztrátor művésszel"
  pageTitle="Kapcsolat"
>
  <div class="card mx-auto w-96 bg-base-100 shadow-xl">
    <div class="card-body flex flex-col gap-6">
      <ContactLink
        dataLink="contact.email"
        title="Email"
        icon={Mail}
      />
      <ContactLink
        dataLink="contact.phone"
        title="Telefon"
        icon={Phone}
      />
    </div>
  </div>
</ContactLayout>
