---
import PageLayout from "../layouts/PageLayout.astro";
import ArtCard from "../components/ArtCard.astro";
---

<PageLayout
  title="Képzőművészet - Szarvas Pongrác"
  description="Szarvas Pongrác képzőművészeti alkotásai"
  pageTitle="Képzőművészet"
>
  <div
    class="grid place-items-center w-fit mx-auto grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8"
  >
    <ArtCard
      href="/kepzomuveszet/olaj"
      imageSrc="/images/olaj.jpg"
      imageAlt="Olajfestmények"
      title="Olajfestmények"
    />

    <ArtCard
      href="/kepzomuveszet/akvarell"
      imageSrc="/images/akva.jpg"
      imageAlt="Akvarellek"
      title="Akvarellek"
    />

    <ArtCard
      href="/kepzomuveszet/pasztell"
      imageSrc="/images/pasztell.jpg"
      imageAlt="Pasztellek"
      title="Pasztellek"
    />

    <ArtCard
      href="/kepzomuveszet/grafika"
      imageSrc="/images/grafika.jpg"
      imageAlt="Grafikák"
      title="Grafikák"
    />
  </div>
</PageLayout>
