---
import { Pencil } from "lucide-astro";

interface Props {
  editText?: string;
}

const { editText } = Astro.props;
---

<button
  data-edit-toggle
  data-edit="false"
  class="btn"
>
  <Pencil class="size-4" />
  {editText ?? "Szerkesztés"}
</button>
