---
import { Pencil, PencilOff } from "lucide-astro";
---

<div data-auth="true">
  <button
    data-edit-toggle
    data-edit="false"
    class="btn"
  >
    <Pencil class="size-4" />
    Szerkesztés
  </button>

  <button
    data-edit-toggle
    data-edit="true"
    class="btn hidden"
  >
    <PencilOff class="size-4" />
    Kilépés a szerkesztésből
  </button>
</div>
