---
import { ImageUp } from "lucide-astro";

interface Props {
  key: string;
}

const { key }: Props = Astro.props;
---

<form
  data-auth="true"
  class="hidden w-full"
  data-upload={key}
>
  <label
    for="file-upload"
    class="cursor-pointer w-full block"
  >
    <div
      class="flex flex-col gap-2 items-center justify-center h-40 border-2 border-dashed border-base-300 rounded-lg hover:border-base-content transition-colors bg-base-100 w-full"
    >
      <ImageUp class="w-10 h-10 text-base-content opacity-60" />
      <span class="text-base-content font-medium">Feltöltés</span>
    </div>
  </label>
  <input
    id="file-upload"
    type="file"
    multiple
    class="hidden"
    accept="image/*"
    name="files"
  />
  <button type="submit" class="btn mt-2">Feltöltés</button>
</form>
