---
import { Trash, BookImage, ChevronUp, ChevronDown } from "@lucide/astro";

export interface Props {
  key: string;
}

const { key } = Astro.props;
---

{/* image gallery */}
<div
  id="image-gallery"
  data-images={key}
  class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5 gap-4"
>
</div>

{/* image template */}
<template id="image-gallery-item">
  <div
    data-id="id"
    data-sorting="0"
    data-cover="false"
    class="relative mb-4 block"
  >
    <button
      commandfor="image-popover"
      command="show-popover"
      data-url="url"
      class="w-full block cursor-pointer border-0 bg-transparent p-0"
      type="button"
      aria-label="Kép megnyitása"
      title="Kép megnyitása"
    >
      <img
        src="src"
        alt="alt"
        width={200}
        height={250}
        class="w-full block rounded-lg shadow-lg hover:shadow-xl"
        loading="lazy"
      />
    </button>

    <div
      data-auth="true"
      class="absolute top-2 left-2 right-2 flex justify-between"
    >
      <div class="join">
        <button
          data-cover="id"
          data-edit="true"
          class="hidden join-item btn btn-sm btn-square"
          title="Borítóképnek jelölés"
        >
          <BookImage class="size-4" />
        </button>
        <button
          data-delete=""
          data-edit="true"
          class="hidden join-item btn btn-sm btn-square"
          title="Törlés"
        >
          <Trash class="size-4" />
        </button>
      </div>

      <div class="join">
        <button
          data-move-up=""
          data-edit="true"
          class="hidden join-item btn btn-sm btn-square"
          title="Mozgatás előre"
        >
          <ChevronUp class="size-4" />
        </button>
        <button
          data-move-down=""
          data-edit="true"
          class="hidden join-item btn btn-sm btn-square"
          title="Mozgatás hátra"
        >
          <ChevronDown class="size-4" />
        </button>
      </div>
    </div>
  </div>
</template>
