---
import { Trash, X } from "@lucide/astro";

export interface Props {
  key: string;
}

const { key } = Astro.props;
// gallery.js
// 1. load images from db with data-images="oil"
// 2. clone template for every image
// 3. append images to gallery
// popover.js
// 4. on image click, change popover attributes like src, and show-popover
---

{/* image gallery */}
<div
  id="image-gallery"
  data-images={key}
  class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5 gap-4"
>
</div>

{/* image template */}
<template id="image-gallery-item">
  <div class="break-inside-avoid mb-4 block">
    <div class="relative">
      <button
        commandfor="image-popover"
        command="show-popover"
        class="w-full block cursor-pointer border-0 bg-transparent p-0"
        type="button"
        aria-label="Kép megnyitása"
        title="Kép megnyitása"
      >
        {/* src, alt loads on show-popover */}
        <img
          src=""
          alt=""
          width={200}
          height={250}
          class="w-full block rounded-lg shadow-lg hover:shadow-xl"
          loading="lazy"
        />
        {/* data-delete="image", loads on show-popover*/}
        {
          /* data-auth not work on images, need to re-run after images appended */
        }
        <button
          data-delete=""
          class="absolute right-4 top-4 border border-base-100 btn btn-error btn-sm btn-square"
          data-auth="true"
        >
          <Trash
            data-auth="true"
            class="size-4"
          />
        </button>
      </button>
    </div>
  </div>
</template>
