---
import { Trash, X } from "@lucide/astro";

export interface Props {
  key: string;
}

const { key } = Astro.props;
---

{/* image gallery */}
<div
  id="image-gallery"
  data-images={key}
  class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5 gap-4"
>
</div>

{/* image template */}
<template id="image-gallery-item">
  <div class="break-inside-avoid mb-4 block">
    <div class="relative">
      <button
        commandfor="image-popover"
        command="show-popover"
        class="w-full block cursor-pointer border-0 bg-transparent p-0"
        type="button"
        aria-label="Kép megnyitása"
        title="Kép megnyitása"
      >
        <img
          src=""
          alt=""
          width={200}
          height={250}
          class="w-full block rounded-lg shadow-lg hover:shadow-xl"
          loading="lazy"
        />

        <div data-auth="true">
          <button
            data-delete=""
            data-edit="true"
            class="hidden absolute right-4 top-4 border border-base-100 btn btn-error btn-sm btn-square"
          >
            <Trash class="size-4" />
          </button>
        </div>
      </button>
    </div>
  </div>
</template>
