---
import { Trash, BookImage, ChevronUp, ChevronDown } from "@lucide/astro";
import { ImageOff } from "lucide-astro";

export interface Props {
  key: string;
}

const { key } = Astro.props;
---

{/* image gallery */}
<div
  id="image-gallery"
  data-images={key}
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6"
>
</div>

<template id="empty-gallery-template">
  <div
    id="empty-gallery"
    class="w-full flex flex-col gap-4 items-center justify-center"
  >
    <ImageOff class="size-10 text-base-content opacity-60" />
    <p class="text-lg">Nincs kép feltöltve</p>
  </div>
</template>

{/* image template */}
<template id="image-gallery-item">
  <div
    data-id="id"
    data-sorting="0"
    data-cover="false"
    class="relative mb-4 block max-w-56 max-h-56"
  >
    <button
      commandfor="image-popover"
      command="show-popover"
      data-url="url"
      class="mx-auto flex h-full w-full max-h-60 max-w-60 items-center justify-center cursor-pointer border-0 bg-transparent p-0"
      type="button"
      aria-label="Kép megnyitása"
      title="Kép megnyitása"
    >
      <img
        src="src"
        alt="alt"
        class="max-h-full max-w-full h-auto w-auto object-contain rounded-lg shadow-lg hover:shadow-xl"
        loading="lazy"
        anchor-name=""
      />
    </button>

    <div
      data-auth="true"
      data-edit="true"
      class="hidden absolute translate-y-2 right-2 flex justify-between"
      style="top: anchor(top);"
    >
      <div class="join">
        <button
          data-cover="id"
          class="join-item btn btn-sm btn-square"
          title="Borítóképnek jelölés"
        >
          <BookImage class="size-4" />
        </button>
        <button
          data-delete=""
          class="join-item btn btn-sm btn-square"
          title="Törlés"
        >
          <Trash class="size-4" />
        </button>
      </div>
    </div>
  </div>
</template>
