<nav class="desktop">
  <ul>
    {{ range .Site.Menus.main }} {{ if not .Params.Hidden }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ if not .Params.Last }}
    <li>{{ partial "separator.html" }}</li>
    {{ end }} {{ end }} {{ end }}
  </ul>

  <ul>
    <li>
      <a href="http://www.forestpress.hu/hu/index.php" target="_blank">
        Forestpress
      </a>
    </li>
    <li>{{ partial "separator.html" }}</li>
    <li><a href="http://www.vadaszat.net" target="_blank">Nimród</a></li>
  </ul>
</nav>

<nav class="mobile">
  <details>
    <summary>Menü</summary>

    <ul>
      {{ range .Site.Menus.main }} {{ if not .Params.Hidden }}
      <li>
        <a href="{{ .URL }}"> {{ .Name }} </a>
      </li>
      {{ end }} {{ end }}
      <li>
        <a href="http://www.forestpress.hu/hu/index.php" target="_blank">
          Forestpress
        </a>
      </li>
      <li><a href="http://www.vadaszat.net" target="_blank">Nimród</a></li>
    </ul>
  </details>
</nav>
