---
import BaseLayout from "./BaseLayout.astro";
import PageTitle from "../../components/v2/PageTitle.astro";
import ContactFooter from "src/components/v2/ContactFooter.astro";

export interface Props {
  title: string;
  description: string;
  pageTitle: string;
}

const { title, description, pageTitle } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  mainClass="py-4"
>
  <PageTitle title={pageTitle} />

  <!-- Main Content -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <slot />
  </div>

  <ContactFooter slot="footer" />
</BaseLayout>
