---
import BaseLayout from "./BaseLayout.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/PageTitle.astro";
import EditButton from "@components/EditButton.astro";
import Editor from "@components/Editor";
import PocketBase from "pocketbase";

export interface Props {
  key: string;
  title: string;
  description: string;
  pageTitle?: string;
  image?: {
    caption: string;
  };
}

const { key, title, description, pageTitle, image } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  mainClass="py-4"
  scripts={["prose"]}
  styles={["tiptap"]}
>
  {pageTitle && <PageTitle title={pageTitle} />}

  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <EditButton />
    <div data-edit="true">
      <Editor
        key={key}
        client:load
      />
    </div>

    <!-- Prose Content -->
    <article
      data-edit="false"
      class="prose max-w-none"
    >
      <slot />
    </article>

    <EditButton />
  </div>

  <Footer slot="footer" />
</BaseLayout>
